* {
  margin: 0;
  padding: 0;
}
body {
  background: rgb(0, 0, 139);
  background: linear-gradient(
    90deg,
    rgba(0, 0, 139, 1) 0%,
    rgba(0, 0, 139, 1) 30%,
    rgba(0, 212, 255, 1) 100%
  );
  color: white;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: flex-start;
  height: 50vh;
  margin: 1rem;
  padding: 1rem;
  font-family: "Space Mono", monospace;
  margin-top: 10rem;
}

.header {
  margin-bottom: 1rem;
}

.principal {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#list {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

input {
  font-family: "Space Mono", monospace;
  color: #00008b;
}
li {
  width: 50vw;
  padding: 0.5rem;
  box-sizing: border-box;
  border: 1px solid;
  background: rgb(0, 0, 139);
  background: linear-gradient(
    90deg,
    rgba(0, 0, 139, 1) 0%,
    rgba(0, 0, 139, 1) 30%,
    rgba(0, 212, 255, 1) 100%
  );
  border-radius: 5px;
  margin-bottom: 0.5rem;
  list-style: none;
  display: flex;
  font-size: 1rem;
  align-items: center;
  justify-content: space-between;
}

#btnAdd {
  box-sizing: border-box;
  background-color: #00008b;
  color: white;
  border-style: none;
  padding: 5px 10px;
  border-radius: 5px;
}
.btn {
  width: 15px;
  height: 15px;
  background-color: white;
  border-radius: 5px;
  border: 1px gray solid;
}

.btn:checked + p {
  text-decoration: line-through;
}

.clicked {
  background-color: blue;
}

#reset {
  box-sizing: border-box;
  margin-top: 0.5rem;
  padding: 10px;
  background-color: #00008b;
  color: white;
  border-style: none;
  border-radius: 0.5rem;
  font-family: "Space Mono", monospace;
  font-size: 1rem;
}

button:hover {
  cursor: pointer;
}

.hidden {
  visibility: hidden;
}
